<section class="subscribe-section">
  <div class="wrapper">
    <div class="subscribe-section__inner">
      <div class="subscribe-section__graphics">
        <img class="subscribe-section__img" src="./assets/images/single-post/subscribe-section/man.svg" alt="">
      </div>

      <div class="subscribe-section__content">
        <h2 class="subscribe-section__content-title">Want to get the best articles weekly?
          Subscribe to our newsletter!</h2>

        <form action="" class="subscribe-section__form">
          <div class="subscribe-section__board">
            <input type="email" class="subscribe-section__input" placeholder="Your working email">
            <button class="btn">Subscribe</button>
          </div>

          <label class="checkbox style-a">
            <input type="checkbox" checked="checked">
            <div class="checkbox__checkmark"></div>
            <div class="checkbox__text">I agree to receive communications from Createx Online School</div>
          </label>
        </form>

      </div>
    </div>
  </div>

</section>
