<footer class="footer">
  <div class="wrapper">
    <div class="footer__inner">
      <div class="information-blog">

        <div class="logo">
          <mat-icon class="logo__icon" svgIcon="logoWhite"></mat-icon>
        </div>


        <p class="footer__paragraph footer_visibility">
          Createx Online School is a leader in online studying. We have lots of courses and programs from the main
          market experts. We provide relevant approaches to online learning, internships and employment in the largest
          companies in the country.
        </p>

        <div class="social">
          <div class="social__links">
            <ng-container *ngFor="let item of socialItems(socialFooterArr); let i = index">
              <ng-container *ngIf="i <= 10">
                <a href="#" class="social__link social__link_shift">
                  <button [ngClass]="'social__' + item.name"></button>
                </a>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="footer__column site-map">
        <h2 class="footer__column-title">Site Map</h2>
        <ul class="footer__list">
          <li class="footer__list-item footer_visibility">About Us</li>
          <li class="footer__list-item footer_visibility ">Courses</li>
          <li class="footer__list-item footer_visibility ">Events</li>
          <li class="footer__list-item footer_visibility">Blog</li>
          <li class="footer__list-item footer_visibility">Contacts</li>
        </ul>
      </div>

      <div class="footer__column">
        <h2 class="footer__column-title">Courses</h2>
        <ul class="footer__list">
          <li class="footer__list-item footer_visibility">Marketing</li>
          <li class="footer__list-item footer_visibility">Management</li>
          <li class="footer__list-item footer_visibility">HR & Recruting</li>
          <li class="footer__list-item footer_visibility">Design</li>
          <li class="footer__list-item footer_visibility">Development</li>
        </ul>
      </div>

      <div class="footer__column">
        <h2 class="footer__column-title">Contact Us</h2>
        <ul class="footer__list">
          <li class="footer__list-item">
            <a class="footer__list-link footer_visibility" [href]="'tel:' + phoneNumber">{{phoneNumber}}</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link footer_visibility" [href]="'mailto:' + email">{{email}}</a>
          </li>
        </ul>
      </div>

      <div class="footer__column footer__column-form">
        <h2 class="footer__column-title">Sign up to Our Newsletter</h2>
        <div class="subscribe">
          <form class="subscribe__form" action="">
            <input type="email" class="subscribe__email" placeholder="Email address">
            <button class="subscribe__button"></button>
            <p class="subscribe__paragraph">*Subscribe to our newsletter to receive communications and early updates
              from Createx SEO Agency.</p>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="wrapper">
      <div class="copyright__text">
        <span>© All rights reserved.</span>
        <span>Made with
          <img [src]="pictures.heart.src" [alt]="pictures.heart.alt">
        </span>
        <span> by Createx Studio</span>
      </div>
    </div>
  </div>
</footer>
