<header class="header">
  <div class="wrapper">
    <div class="header__inner">
      <div class="logo">
        <a routerLink="/"><mat-icon class="logo__icon" svgIcon="logo"></mat-icon></a>
      </div>

      <nav class="nav">
        <div for="openSidebarMenu" class="nav__icon">
          <span></span>
        </div>
        <div class="nav__body">
          <ul class="nav__list">
            <li class="nav__list-item">
              <a href="#" class="nav__link">About Us</a>
            </li>
            <li class="nav__list-item">
              <a href="#" class="nav__link">Courses</a>
            </li>
            <li class="nav__list-item">
              <a href="#" class="nav__link">Events</a>
            </li>
            <li class="nav__list-item">
              <a [routerLink]="['/single-post']" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav__link">Blog</a>
            </li>
            <li class="nav__list-item">
              <a [routerLink]="['/contacts']" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav__link">Contacts</a>
            </li>
          </ul>

        </div>

      </nav>


      <div class="authorization">
        <button class="btn authorization__btn authorization__btn_shift">Get consultation</button>
        <button class="btn authorization__btn-message authorization__btn_disabled">
          <div class="authorization__graphics">
            <mat-icon svgIcon="message"></mat-icon>
          </div>

        </button>

        <div class="authorization__wrapper">
          <div class="authorization__item">
            <a class="authorization__link authorization__log-in" (click)="onOpenDialogSignInClick()">Log in</a>
            <span class="authorization__span">/</span>
            <a class="authorization__link authorization__register" (click)="onOpenDialogSignUpClick()">Register</a>
          </div>
          <span class="authorization__modal" (click)="onOpenDialogSignInClick()"></span>
        </div>
      </div>
    </div>
  </div>

</header>
