// mat
.mat-icon {
  min-width: 40px;
  height: 100%;
}

// logo styles

.logo {
  width: 100%;

  &__icon {
    width: 130px;
    height: 22px;
  }
}

/*
  header styles
*/
.header {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 5.75em;
  padding-top: 20px;
  z-index: 1;

  &__inner {
    display: flex;
    flex: 1 0 100%;

    align-items: center;
    justify-content: flex-start;
  }
}


.logo {
  display: flex;
  width: 130px;
  justify-content: center;
  align-items: center;

  &__img {
    width: 100%;
  }
}

.nav-main {
  flex-grow: 7;
}

.nav {
  flex: 1 1 40%;
  white-space: nowrap;
  display: flex;
  align-items: center;
  margin-right: 1.5em;

  &__list {
    flex: 1 1 80%;
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    margin: 0 0 0 1em;
    position: relative;
  }

  &__list-item {
    margin-right: 20px;
  }

  &__link {
    color: #424551;
  }

  &__link:hover {
    text-decoration: underline;
  }
}

// authorization styles
.authorization {
  display: flex;
  align-items: center;

  &__wrapper {
    //white-space: nowrap;
    height: 100%;
    position: relative;
  }

  &__wrapper:before {
    // white-space: nowrap;
    content: "";
    background: url('../../../assets/images/header/human.svg') no-repeat;
    position: absolute;
    width: 30px;
    height: 30px;
    left: -22px;
  }

  &__graphics {
    width: 100%;
    height: 100%;
  }

  &__btn_disabled {
    display: none;
  }

  &__btn_shift {
    margin-right: 2.8em;
  }

  &__item {
    white-space: nowrap;
  }

  &__link {
    color: #1E212C;
    text-decoration: none;
    cursor: pointer;
  }

  &__link:hover {
    text-decoration: underline;
  }

  &__span {
    padding: 0 5px;
  }

  &__modal {
    display: none;
    width: 100%;
    height: 100%;
  }
}


//Media queries

@media (max-width: 1037px) {
  .authorization {
    &__link {
      //display: block;
      white-space: nowrap;
    }

    &__btn {
      display: none;
    }

    &__btn-message {
      display: block;
      padding: 0 20px;
      margin-right: 2.4em;
      position: relative;
    }

    &__message {
      width: 40px;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      text-align: center;
      position: absolute;
    }
  }
}

@media (max-width: 888px) {
  .authorization {
    &__span {
      display: none;
    }

    &__wrapper {
      width: 50px;
      height: 52px;
      //border: 1px solid #1E212C;
      background: rgba(0, 0, 0, .1);
      border-radius: 50%;
      cursor: pointer;
    }

    &__wrapper:before {
      //background: none;
      width: 20px;
      height: 20px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &__item {
      display: none;
    }

    &__modal {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      display: block;
    }
  }
}


@media (min-width: 767px) {
  .nav__list {
    display: flex;
    align-items: center;
  }

  .nav__list-item {
    padding: 10px 0;
  }
}


@media (max-width: 767px) {
  .logo {
    display: none;
  }

  .nav {
    flex: 1 1 30%;
    height: 52px;

    &__icon {
      display: block;
      z-index: 5;
      position: relative;
      width: 50px;
      cursor: pointer;
      transition: all .3s ease 0s;
      height: 30px;
    }

    &__icon span,
    &__icon:before,
    &__icon:after {
      left: 0;
      top: 0;
      position: absolute;
      height: 8px;
      width: 100%;
      display: block;
      transition: transform .3s ease 0s, top .3s ease 0s, opacity .3s ease 0s;
      background-color: rgba(26, 26, 26, .9);
      border-radius: 4px;
    }

    &__icon:before,
    &__icon:after {
      content: "";
    }

    &__icon:before {
      top: 0;
    }

    &__icon:after {
      top: 30px;
    }

    &__icon span {
      top: 50%;
    }

    &__list {
      display: none;
    }

  }
  .nav_active .nav__icon span {
    transform: translate(0, 5px);
    opacity: 0;
  }
  .nav_active .nav__icon:before,
  .nav_active .nav__icon:after {
    top: 50%;
    background-color: rgba(255, 255, 255, 1);
  }
  .nav_active .nav__icon:after {
    transform: rotate(-45deg);
  }
  .nav_active .nav__icon:before {
    transform: rotate(45deg);
  }
  .nav_active .nav__body {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .9);
    padding: 130px 0 100px;
    margin: auto;
    transition: left 0.3s ease 0s;
    z-index: 1;
    overflow: auto;
    box-sizing: border-box;
  }
  .nav_active .nav__body .nav__list {
    display: block;
    color: #c2c2c2;
    font-size: 3em;
    margin: auto;
    padding: 0;
    height: 100%;
    min-height: 100%;
  }
  .nav_active .nav__body .nav__link {
    display: block;
    margin-bottom: 30px;
    color: #c2c2c2;
  }
}
