<div class="sign-in">
  <div class="sign-in__inner">

    <div class="sign-in__header">
      <h2 class="sign-in__header-title">Sign in</h2>
      <p class="sign-in__header-paragraph">Sign in to your account using email and password provided during
        registration.</p>
      <span (click)="closeDialogWindow()" class="sign-in__close">
        <img [src]="pictures.close.src" [alt]="pictures.close.alt">
      </span>
    </div>
    <div class="sign-in__main">
      <form action="" class="registation-form">

        <div class="registation-form__item">
          <label for="email" class="registation-form__label">Email</label>
          <input type="email" class="registation-form__input" id="email" placeholder="Your working email" required>
        </div>

        <div class="registation-form__item">
          <label for="registration-pass" class="registation-form__label" required>Password</label>

          <div class="registation-form__bind">
            <input [type]="isHiddenPass ? 'password' : 'text'" class="registation-form__input" id="registration-pass"
                   #inputPassOne placeholder="Your password" required>
            <span class="registation-form__eye" (click)="changeIsHiddenPass()">
              <img class="registation-form__img" [src]="currentEyeObj.src" [alt]="currentEyeObj.alt">
            </span>
          </div>

        </div>

        <div class="sign-in__partition">
          <label class="checkbox style-a">
            <input type="checkbox" checked="checked">
            <div class="checkbox__checkmark"></div>
            <div class="checkbox__text">Keep me signed in</div>
          </label>

          <a href="#" class="sign-in__forgot-link">Forgot password?</a>
        </div>

        <button class="btn sign-in__btn_size-wide">Sign in</button>

        <p class="sign-in__no-account">Dont'h have an account? <a (click)="openSignUp()" class="sign-in__signUp-link">Sign up</a></p>
      </form>
    </div>

    <div class="sign-in__footer">
      <div class="sign-in__footer-inner">
        <p class="sign-in__footer-paragraph">Or sign in with</p>
        <div class="social sign-in_decoration">
          <div class="social__links sign-in__links">
            <ng-container *ngFor="let item of socialItems(socialLogIn); let i = index">
              <ng-container *ngIf="i <= 10">
                <a href="#" class="social__link social__link_shift">
                  <button [ngClass]="'social__' + item.name"></button>
                </a>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
