<article class="blog-article">
  <mat-card class="blog-article-inner">
    <a href="#">
      <img mat-card-image src="./assets/images/single-post/blog/{{article.name}}" alt="{{article.alt}}">
      <div class="categoryName">
        <span class="categoryName__title {{article.isPodcast ? 'categoryName__podcast' : ''}}">{{article.isPodcast ? 'Podcast' : 'Article'}}</span>
      </div>

      <div class="date-info blog-article_appearance blog-article__date-info">
        <span class="date-info__category blog-article__category">{{article.categoryName}}</span>
        <span class="date-info__date">{{article.date}}</span>
        <ng-container *ngIf="article.timeSpent">
          <span class="date-info__time-read">{{article.timeSpent}}</span>
        </ng-container>
      </div>

      <div class="blog-article__header">
        <mat-card-title class="blog-article__title">{{article.title}}</mat-card-title>
      </div>


    </a>

    <mat-card-content>
      <p class="blog-article__description">
        {{article.content}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="#">
        <button mat-button class="blog-article__btn">{{article.isPodcast ? "Listen" : "Read"}}</button>
      </a>
    </mat-card-actions>
  </mat-card>
  <!--<div class="blog-article__inner">
    <a href="">
      <div class="blog-article__graphics">
        <img src="./assets/images/single-post/blog/{{article.name}}" alt="{{article.alt}}">
      </div>
    </a>


    <div class="blog-article__additional-info">

    </div>

    <h2 class="blog-article__title"><a href="">{{article.title}}</a></h2>
    <p class=blog-article__description>
      {{article.content | slice:0:100}}
      {{article.content.length > 100 ? "...": ""}}
    </p>
  </div>


  <a href="#">Listen</a>-->
</article>
