<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header class="header">
    <div class="wrapper">
      <div class="logo">
        <img src="../assets/images/logo/logo.svg" alt="">
      </div>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__list-item">About Us</li>
          <li class="nav__list-item">Courses</li>
          <li class="nav__list-item">Events</li>
          <li class="nav__list-item">Blog</li>
          <li class="nav__list-item">Contacts</li>
        </ul>
      </nav>

      <button class="get-consultation">Get consultation</button>

      <div class="authorization">
        <img class="authorization__logo" src="" alt="">

        <div class="authorization__wrapper">
          <a href="#">Log in</a> 
          <span>/</span>
          <a href="#">Register</a>
        </div>
      </div>
    </div>
    
  </header>

  <main class="main">
    <section class="contact-info">
      <div class="wrapper">
        <div class="contact-info__main">
          <p>Contact info</p>
          <h1>Get in touch</h1>
  
          <address class="address">
            <div class="address__content">
              <p>Talk to us:</p>
              <a class="address__mail" href="mailto:hello@createx.com">hello@createx.com</a>
            </div>
            <div class="address__content">
              <p>Call us:</p>
              <a class="address__phone-number" href="tel:+7405550128">(405)555-0128</a>
            </div>
            <div class="address__content">
              <p>Address:</p>
              <a class="address__located">2464 Royal Ln. Mesa, New Jersey 45463, USA</a>
            </div>
          </address>
  
          <div class="social">
            <p>Follow us:</p>
            <a class="social__link">
              <img class="social__facebook" src="../assets/images/social/fb.svg" alt="">
            </a>
            <a class="social__link">
              <img class="social__twitter" src="../assets/images/social/twitter.svg" alt="">
            </a>
            
            <a class="social__link">
              <img class="social__youtube" src="../assets/images/social/youtube.svg" alt="">
            </a>
            
            <a class="social__link">
              <img class="social__telegram" src="../assets/images/social/telegram.svg" alt="">
            </a>
            
            <a class="social__link">
              <img class="social__instagram" src="../assets/images/social/instagram.svg" alt="">
            </a>
            
            <a class="social__link">
              <img class="social__inblog" src="../assets/images/social/inblog.svg" alt="">
            </a>
            
          </div>
        </div>

        <div class="contact-info__graphics">
          <img class="contact-info__img" src="../assets/images/contact-info/map.svg" alt="">
        </div>
      </div>
    </section>

    <section class="contact-us">
      <div class="wrapper">
        <div class="contact-us__praphics">
          <img class="contact-info__img" src="../assets/images/contact-us/woman.svg" alt="">
        </div>
  
        <div class="contact-us__main">
          <p>Any questions?</p>
          <h1>Drop us a line</h1>
  
          <form class="form-contact" action="">
            <div></div>
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" placeholder="Your first name">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" placeholder="Your last name">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Your working email">
            <label for="phoneNumber">Phone</label>
            <input type="tel" id="phoneNumber" placeholder="Your phone number">
  
            <label for="description">Message</label>
            <textarea class="" name="" id="description" cols="30" rows="10" placeholder="Your message"></textarea>
  
            <input type="checkbox" id="agree">
            <label for="agree">I agree to receive communications from Createx Online School</label>
  
            <button>Send message</button>
          </form>
        </div>
      </div>
    </section>
  </main>
</body>
</html>