.chart {
  width: 800px;
  height: 400px;
  position: relative;

  &__canvas {
    width: 100%;
    height: 100%;
  }

  &__button {
    width: 35px;
    height: 35px;
    border: none;
    padding: 1em;
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
    background: #fff;
    border: 1px solid #efefef;
    border-radius: 4px;
    box-sizing: border-box;

    &:hover {
      background: #efefef;
    }

    &:after {
      content: "";
      background: url("../../../../assets/images/charts/fullscreen.svg") no-repeat center;
      position: absolute;
      width: 60%;
      height: 60%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover:after {
      width: 70%;
      height: 70%;
    }
  }

  &__button:active, &__button:focus {
    outline: none;
  }

  &__button::-moz-focus-inner {
    border: 0;
  }
}

