.articles-content {

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 67% calc(33% -  4.875em));
    grid-column-gap: 4.875em;
    box-sizing: border-box;
  }
}


// article styles

.article {

  &__title {
    font-weight: 900;
    font-size: 46px;
    margin: .4em 0 .5em 0;
  }
  &__additional-info {
    display: flex;
    justify-content: space-between;

  }
  &__header {
    margin-bottom: 2.5em;
  }

  &__main-graphics {
    width: 100%;
    max-height: 360px;

    margin-bottom: 3.75em;
  }
  &__img {
    display: block;
    max-height: 360px;
    width: 100%;
    object-fit: cover;
  }
  &__main-content {
    color: #424551;
    line-height: 160%;
  }
  &__main-content &__main-paragraph:first-child{
    font-weight: 700;
    font-size: 1.25em;
    line-height: 150%;
  }
  &__main-paragraph {
    margin-bottom: 2em;
  }

  &__blockquote {
    font-size: 1.25em;
    font-weight: 700;
    line-height: 150%;
    position: relative;
    &:before {
      content: open-quote;
      font-size: 50px;
      margin: 0;
      position: absolute;
      left: -40px;
      top: 7px;
    }
  }

  &__list {
  padding-left: 20px;
    &-item {
      margin-bottom: .5em;
      padding-left: 10px;
      list-style-image: url("../../assets/images/articles/checkpoint.svg");
    }
  }


  &__footer {
    display: flex;
    justify-content: space-between;
  }
}

// tags styles
.tags {
  font-weight: 700;
  color: #1E212C;
  display: flex;

  &_row {
   flex-direction: column;
  }
  &__title {
    margin-top: 5px;
    margin-right: 1.3em;
  }
  &__main {
    display: flex;
    flex-wrap: wrap;

  }
  &__link {
    font-size: .875em;
    color: #787A80;
    padding: .3em .7em;
    border: 1px solid #D7DADD;
    border-radius: 4px;
    margin-right: .7em;
    box-sizing: border-box;
    margin-bottom: .5em;
    &:hover {
      background: #FF3F3A;
      color: #fff;
    }
  }

  &__link:last-child {
    margin-right: 0;
  }
}

.navigation-chain {
  position: relative;
  color: #424551;
  padding-left: 1.5625em;
  font-weight: 700;
  &:after {
    content: "";
    width: 15px;
    height: 15px;
    background: url("../../assets/images/articles/file.svg") no-repeat center;
    position: absolute;
    left: 0;
    top: 1px;
  }

  &__link {
    padding: 0 20px;
    color: #424551;
    border-right: 1px solid #787A80;

    &_active {
      color: #FF3F3A;
    }
  }
  &__link:hover {
    text-decoration: underline;
  }
  &__link:first-child {
    padding-left: 0;
  }
  &__link:last-child {
    border-right: none;
  }
}
.date-info {
  color: #787A80;
  &__date,
  &__time-read {
    position: relative;
    padding-left: 1.5625em;
    font-size: 0.875em;
  }
  &__date {

    margin-right: 1.5em;
  }
  &__date:before,
  &__time-read:before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0;
    top: 2px;
  }
  &__date:before {
    background: url("../../assets/images/articles/calendar.svg") no-repeat center;
  }
  &__time-read:before {
    background: url("../../assets/images/articles/clock.svg") no-repeat center;
  }

}
.share {
  display: flex;
  align-items: center;
  &__title {
    font-weight: 700;
    margin-right: .8em;
  }
}



//sidebar styles

.sidebar {
  line-height: 150%;
  color: #1E212C;
  &__search {
    position: relative;
    margin-bottom: 3.75em;
  }

  &__input {
    width: 100%;
    padding: .7em;
    height: 44px;
    border-radius: 4px;
    border: 1px solid #D7DADD;
    box-sizing: border-box;
  }

  &__button {
    height: 44px;
    background: url("../../assets/images/global/loupe.svg") no-repeat center;
    position: absolute;
    padding: 0 1.5em;
    margin-left: -3em ;
    border: none;
    cursor: pointer;

  }
  &__decoration {
    font-size: 1em;
    margin-bottom: 1em;
    text-transform: uppercase;
  }
}

.author {
  margin-bottom: 3em;
  &__title {
    font-size: 1em;
    text-transform: uppercase;
  }
  &__main {
    display: flex;
    align-items: center;

    &-title {
      margin: 0;
      font-size: 1.25em;
      font-weight: 700;
    }
    &-paragraph {
      font-size: .875em;
      margin: .5em 0 ;
      box-sizing: border-box;
    }
  }

  &__graphics {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    margin-right: 1.2em;
  }
  &__img {
    width: 100%;
    height: 100%;
  }
}

//Trending Articles styles

.trending-articles {
  &__link {
    color: #1E212C;
  }
  &__title {
    font-size: 1em;
    text-transform: uppercase;
  }
  &__article {
    display: flex;
    margin-bottom: 1.5em;
  }
  &__graphics {
    margin-right: 1.2em;
  }
  &__paragraph {
    margin: 0;
    font-weight: 700;
  }
}
