<div class="sign-up">
  <div class="sign-up__inner">

    <div class="sign-up__header">
      <h2 class="sign-up__header-title">Sign Up</h2>
      <p class="sign-up__header-paragraph">Registration takes less than a minute but gives you full control over your studying.</p>
      <span class="sign-up__close"><img src="../../assets/images/modal/close.svg" alt="закрыть модальное окно"></span>
    </div>
    <div class="sign-up__main">
      <form action="" class="registation-form">
        <div class="registation-form__item">
          <label for="fullname" class="registation-form__label">Full Name</label>
          <input type="text" class="registation-form__input" id="fullname" placeholder="Your full name" required>
        </div>

        <div class="registation-form__item">
          <label for="email" class="registation-form__label">Email</label>
          <input type="email" class="registation-form__input" id="email" placeholder="Your working email" required>
        </div>

        <div class="registation-form__item">
          <label for="registration-pass" class="registation-form__label">Password</label>

          <div class="registation-form__bind">
            <input type="{{isHiddenPass ? 'password' : 'type'}}" class="registation-form__input" id="registration-pass" placeholder="Your password" required >
            <span class="registation-form__eye" (click)="isHiddenPass = !isHiddenPass">
              <img class="registation-form__img"  src="../../assets/images/register/{{isHiddenPass ? 'eye.png' : 'eye-open.svg'}}" alt="глаз состояния">
            </span>
          </div>
        </div>

        <div class="registation-form__item">
          <label for="registration-passAgain" class="registation-form__label">Confirm Password</label>

          <div class="registation-form__bind">
            <input type="{{isHiddenPassAgain ? 'password' : 'type'}}" class="registation-form__input" id="registration-passAgain"  placeholder="Your password again" required>
            <span class="registation-form__eye" (click)="isHiddenPassAgain = !isHiddenPassAgain">
              <img class="registation-form__img"  src="../../assets/images/register/{{isHiddenPassAgain ? 'eye.png' : 'eye-open.svg'}}" alt="глаз состояния">
            </span>
          </div>
        </div>

        <div class="sign-up__partition">
          <label class="checkbox style-a">
            <input type="checkbox" checked="checked">
            <div class="checkbox__checkmark"></div>
            <div class="checkbox__text">Remember</div>
            <!--            <input type="checkbox" class="checkbox rememberUser__input" id="rememberUser-agree">-->
            <!--            <label for="rememberUser-agree" class="rememberUser__label">Keep me signed in</label>-->
          </label>

        </div>

        <button class="btn sign-up__btn_size-wide">Sign up</button>

        <p class="sign-up__no-account">Dont'h have an account? <a href="#" class="sign-up__signUp-link">Sign in</a></p>
      </form>
    </div>

    <div class="sign-up__footer">
      <div class="sign-up__footer-inner">
        <p class="sign-up__footer-paragraph">Or sign in with</p>
        <div class="social sign-up_decoration">
          <ng-container *ngFor="let item of socialItems(socialLogUp); let i = index">
            <ng-container *ngIf="i <= 10">
                <a href="#" class="social__link social__link_shift">
                  <button class="social__{{item.name}}"></button>
                </a>
            </ng-container>
          </ng-container>

        </div>
      </div>
    </div>

  </div>
</div>
