<section class="blog">
  <div class="wrapper">
    <div class="blog__inner">
      <div class="blog__header">
        <p class="blog__over-title">Our blog</p>
        <h2 class="blog__title">You may also like</h2>

        <div class="blog__arrows">
          <span class="blog__arrows-left"></span>
          <span class="blog__arrows-right"></span>
        </div>
      </div>
      <div class="blog__articles">

          <ng-container *ngFor="let article of blogArticlesArr">
            <app-blog-article [article]="article"></app-blog-article>
          </ng-container>


      </div>

      <div class="blog__more-content">
        <h2 class="blog__more-content-title">Do you want more articles, podcasts and videos?</h2>
        <button class="btn"><a href="#" class="blog__btn-link">Go to blog</a></button>
      </div>

    </div>
  </div>
</section>


