<aside class="sidebar">
  <form action="" class="sidebar__search">
    <input type="text" class="sidebar__input" placeholder="Search blog...">
    <button class="sidebar__button"></button>
  </form>

  <div class="sidebar__main">

    <div class="author">
      <h2 class="author__title">Author</h2>


      <div class="author__main">
        <div class="author__graphics">
          <img src="./assets/images/author/author.svg" alt="">
        </div>
        <div class="author__content">
          <p class="author__main-title">Kristin Watson</p>
          <p class="author__main-paragraph">Curator of Marketing Course</p>

          <div class="social">
            <ng-container *ngFor="let socialItem of socialItems(socialAuthorArr); let i = index">
              <ng-container *ngIf="i <= 10">
                <a href="#" class="social__link social__link_shift">
                  <button class="social__{{socialItem.name}}"></button>
                </a>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <div class="trending-articles">
      <h2 class="trending-articles__title">Trending Articles</h2>

      <a href="#" class="trending-articles__link">
        <article class="trending-articles__article">

          <div class="trending-articles__graphics">
            <img src="./assets/images/articles/1.svg" alt="">
          </div>

          <div class="trending-articles__main">
            <div class="date-info">
              <span class="date-info__date">September 4, 2020</span>
            </div>
            <p class="trending-articles__paragraph">What is traffic arbitrage and does it really make money?</p>
          </div>


        </article>
      </a>

      <a href="#" class="trending-articles__link">
        <article class="trending-articles__article">

          <div class="trending-articles__graphics">
            <img src="./assets/images/articles/2.svg" alt="">
          </div>

          <div class="trending-articles__main">
            <div class="date-info">
              <span class="date-info__date">July 15, 2020</span>
            </div>
            <p class="trending-articles__paragraph">Startup: how to build a team that will live longer than a
              year</p>
          </div>
        </article>
      </a>

      <a href="#" class="trending-articles__link">
        <article class="trending-articles__article">

          <div class="trending-articles__graphics">
            <img src="./assets/images/articles/3.svg" alt="">
          </div>
          <div class="trending-articles__main">
            <div class="date-info">
              <span class="date-info__date">August 2, 2020</span>
            </div>
            <p class="trending-articles__paragraph">What to do if you want to get feedback on the product</p>
          </div>
        </article>
      </a>
    </div>
  </div>


  <div class="sidebar__footer">
    <div class="tags tags_column">
      <h2 class="tags__title sidebar_decoration">Tags</h2>

      <div class="tags__main">
        <a href="#" class="tags__link">#marketing</a>
        <a href="#" class="tags__link">#recruiting</a>
        <a href="#" class="tags__link">#coding</a>
        <a href="#" class="tags__link">#learning</a>
        <a href="#" class="tags__link">#HR</a>
        <a href="#" class="tags__link">#self-development</a>
      </div>

    </div>
  </div>
</aside>
