
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$spa-primary: mat.define-palette(mat.$indigo-palette);
$spa-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$spa-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$spa-theme: mat.define-light-theme((
  color: (
    primary: $spa-primary,
    accent: $spa-accent,
    warn: $spa-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($spa-theme);

/* You can add global styles to this file, and also import other style files */
@import 'normalize.scss';


html {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  color: #1E212C;
  position: relative;
  font-size: 16px;
  margin: 0;
  height: 100%;
}
body.modal-open {
  overflow: hidden;
  position: fixed;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1280px;
  padding: 0 1.5em;
  margin: 0 auto;
  box-sizing: border-box;
}

.btn {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  padding: 0 50px;
  white-space: nowrap;
  height: 52px;
  line-height: 52px;
  color: #FFFFFF;
  border: 0;
  cursor: pointer;
}


// checkbox styles
.checkbox,
.checkbox::before,
.checkbox::after {
  box-sizing: border-box;
}

.checkbox *,
.checkbox *::before,
.checkbox *::after {
  box-sizing: border-box;
}

.checkbox.style-a {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  user-select: none;
  width: 100%;
}

.checkbox.style-a input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;

  width: 0;
}



.checkbox.style-a .checkbox__checkmark {
  position: absolute;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #FF3F3A;
  border: 1px solid #333;
  border-radius: 3px;
  background: #fff;
}

.checkbox.style-a .checkbox__checkmark:after {
  content: "";
  position: absolute;
  left: 5.5px;
  top: 1px;
  width: 5px; /* ширина - длина левой линии отметки-галочки */
  height: 10px; /* высота - длина правой линии отметки-галочки */
  border: solid #fff; /* рамка(border) сплошной линией цвета #333 */
  border-width: 0 1px 1px 0; /* правая и нижняя рамка(border) по 1px  */
  transform: rotate(45deg); /* блок наклонен по часовой стрелке на 45 градусов */
  opacity: 0; /* изначально скрыта */
}
.checkbox.style-a input:checked ~ .checkbox__checkmark {
  background-color: #FF3F3A;
  border: none;
}

.checkbox.style-a input:checked ~ .checkbox__checkmark:after {
  opacity: 1; /* отображаем отметку-галочку */
}

.checkbox.style-a:hover input:checked ~ .checkbox__checkmark {
  background-color: #d7342f; /* окрашиваем фон в белый цвет*/
}
.checkbox.style-a .checkbox__body {

  color: #333;
  line-height: 1.4;
  font-size: 16px;
}


// social styles

.social {
  display: flex;
  //align-items: center;
  &__links {
    display: flex;
  }
  &__link {
    height: 25px;
    width: 25px;
  }
  &__paragraph {
    font-weight: 700;
    color: #1E212C;
    text-transform: uppercase;
  }

  &__facebook,
  &__google,
  &__inblog,
  &__instagram,
  &__telegram,
  &__twitter,
  &__youtube{
    width: 100%;
    height: 100%;
    fill: #FFF;
    background-color: #787A80;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: #FF3F3A;
    }
  }

  &__facebook {
    mask: url("./assets/images/social/fb.svg") no-repeat center;
  }
  &__google {
    mask: url("./assets/images/social/google.svg") no-repeat center;
  }
  &__inblog {
    mask: url("./assets/images/social/inblog.svg") no-repeat center;
  }
  &__instagram {
    mask: url("./assets/images/social/instagram.svg") no-repeat center;
  }
  &__telegram {
    mask: url("./assets/images/social/fb.svg") no-repeat center;
  }
  &__twitter {
    mask: url("./assets/images/social/twitter.svg") no-repeat center;
  }
  &__youtube {
    mask: url("./assets/images/social/youtube.svg") no-repeat center;
  }
  &__link_shift {
    margin-right: 15px;
  }
  &__link:last-child {
    margin-right: 0;
  }
}

//main-title styles

.main-title {
  &__over-title {
    text-transform: uppercase;
    margin: 0;
    font-weight: 700;
    letter-spacing: 1px;
  }
  &__title {
    font-size: 2.875em;
    font-weight: 900;
    margin: .2em 0 1.5em 0;
  }
}



// mat styles
.mat-paginator .mat-paginator-container {
  justify-content: center;
}

// media-queries
