/* You can add global styles to this file, and also import other style files */
@import 'normalize.scss';




body {
  font-family: 'Lato', sans-serif;
  color: #1E212C;
  position: relative;
  font-size: 16px;
}
body.modal-open {
  overflow: hidden;
  position: fixed;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: calc(1280px);
  //min-width: 800px;
  padding: 0 1.5em;
  //   display: flex;
  margin: 0 auto;
  box-sizing: border-box;
}

.btn {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  padding: 0 50px;
  white-space: nowrap;
  height: 52px;
  line-height: 52px;
  color: #FFFFFF;
  border: 0;
  cursor: pointer;
}


// checkbox styles
.checkbox,
.checkbox::before,
.checkbox::after {
  box-sizing: border-box;
}

.checkbox *,
.checkbox *::before,
.checkbox *::after {
  box-sizing: border-box;
}

.checkbox.style-a {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  user-select: none;
  width: 100%;
}

.checkbox.style-a input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;

  width: 0;
}



.checkbox.style-a .checkbox__checkmark {
  position: absolute;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #FF3F3A;
  border: 1px solid #333;
  border-radius: 3px;
  background: #fff;
}

.checkbox.style-a .checkbox__checkmark:after {
  content: "";
  position: absolute;
  left: 5.5px;
  top: 1px;
  width: 5px; /* ширина - длина левой линии отметки-галочки */
  height: 10px; /* высота - длина правой линии отметки-галочки */
  border: solid #fff; /* рамка(border) сплошной линией цвета #333 */
  border-width: 0 1px 1px 0; /* правая и нижняя рамка(border) по 1px  */
  transform: rotate(45deg); /* блок наклонен по часовой стрелке на 45 градусов */
  opacity: 0; /* изначально скрыта */
}
.checkbox.style-a input:checked ~ .checkbox__checkmark {
  background-color: #FF3F3A;
  border: none;
}

.checkbox.style-a input:checked ~ .checkbox__checkmark:after {
  opacity: 1; /* отображаем отметку-галочку */
}

.checkbox.style-a:hover input:checked ~ .checkbox__checkmark {
  background-color: #d7342f; /* окрашиваем фон в белый цвет*/
}
.checkbox.style-a .checkbox__body {

  color: #333;
  line-height: 1.4;
  font-size: 16px;
}

// authorization styles
.authorization {
  display: flex;
  margin-right: 50px;
  align-items: center;

  &__wrapper {
    //white-space: nowrap;
    height: 100%;
    position: relative;
  }

  &__wrapper:before {
    // white-space: nowrap;
    content: "";
    background: url(./assets/images/header/human.svg) no-repeat;
    position: absolute;
    width: 30px;
    height: 30px;
    left: -22px;
  }

  &__btn_disabled {
    display: none;
  }

  &__btn_shift {
    margin-right: 2.8em;
  }
  &__item {
    white-space: nowrap;
  }
  &__link {
    color: #1E212C;
    text-decoration: none;
  }
  &__link:hover {
    text-decoration: underline;
  }

  &__span {
    padding: 0 5px;
  }
}


.social {
  display: flex;
  align-items: center;
  &__link {
    height: 25px;
    width: 25px;
  }
  &__paragraph {
    font-weight: 700;
    color: #1E212C;
    text-transform: uppercase;
  }

  &__facebook,
  &__google,
  &__inblog,
  &__instagram,
  &__telegram,
  &__twitter,
  &__youtube{
    width: 100%;
    height: 100%;
    fill: #FFF;
    background-color: #787A80;
    border: none;
    cursor: pointer;
  }
  &__facebook:hover,
  &__google:hover,
  &__inblog:hover,
  &__instagram:hover,
  &__telegram:hover,
  &__twitter:hover,
  &__youtube:hover{
    background-color: #FF3F3A;
  }
  &__facebook {
    mask: url("./assets/images/social/fb.svg") no-repeat center;
  }
  &__google {
    mask: url("./assets/images/social/google.svg") no-repeat center;
  }
  &__inblog {
    mask: url("./assets/images/social/inblog.svg") no-repeat center;
  }
  &__instagram {
    mask: url("./assets/images/social/instagram.svg") no-repeat center;
  }
  &__telegram {
    mask: url("./assets/images/social/fb.svg") no-repeat center;
  }
  &__twitter {
    mask: url("./assets/images/social/twitter.svg") no-repeat center;
  }
  &__youtube {
    mask: url("./assets/images/social/youtube.svg") no-repeat center;
  }
  &__link_shift {
    margin-right: 15px;
  }
  &__link:last-child {
    margin-right: 0;
  }
}



// media-queries










