<article class="blog-article">
  <mat-card class="blog-article-inner">
    <a href="#">
      <img colorful mat-card-image [src]="srcImg + article.name" [alt]="article.alt">
      <div class="categoryName">
        <span class="categoryName__title" [ngClass]="articleTypeObj.className">{{articleTypeObj.title}}</span>
      </div>

      <div class="date-info blog-article_appearance blog-article__date-info">
        <span class="date-info__category blog-article__category">{{article.categoryName}}</span>
        <span class="date-info__date">{{article.date}}</span>
        <ng-container *ngIf="article.timeSpent">
          <span class="date-info__time-read">{{article.timeSpent}}</span>
        </ng-container>
      </div>

      <div class="blog-article__header">
        <mat-card-title class="blog-article__title">{{article.title}}</mat-card-title>
      </div>


    </a>

    <mat-card-content>
      <p class="blog-article__description">
        {{article.content}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="#">
        <button mat-button class="blog-article__btn">{{articleTypeObj.button}}</button>
      </a>
    </mat-card-actions>
  </mat-card>

</article>
