
.mat-card {
  padding: 0;
  height: 100%;
  box-shadow: none;
  font-family: 'Lato', sans-serif;
  color: #1E212C;

  &-image {
    width: 100%;
    max-height: 300px;
    height: 300px;
    margin: 0;
    padding: 0;
    filter: grayscale(90%);
    object-fit: cover;
    border-radius: 4px;

    &:first-child {
      margin-top: 0;
    }
  }

  &-actions {
    margin-left: 0;
  }
}

.blog-article {
  position: relative;
  line-height: 150%;
  //height: 100%;
  //height: 560px;
  grid-row-start: 1;
  grid-row-end: 2;

  &__header {
    margin: 1em 0;
  }

  &__title {
    font-size: 1.25em;
    color: #1E212C;
    font-weight: 700;
  }

  &__description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__graphics {
    width: 100%;
    height: 300px;
    border-radius: 4px;
    margin-bottom: .6em;
  }

  &__more-content {
    display: flex;
  }

  &__category {
    margin-right: 1em;
  }

  &_appearance {
    font-size: .875em;
  }

  & span {
    padding-right: .8em;
    border-right: 1px solid #787A80;

    &:last-child {
      border-right: none;
    }
  }

  &__btn {
    background: transparent;
    border: none;
    padding: .3em 1.5em .3em 0;
    cursor: pointer;
    position: relative;
    color: #1E212C;
    font-weight: 700;

    &:after {
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      padding-left: .9em;
      background: url("../../../../../assets/images/button/arrow-right.svg") no-repeat center;
    }
  }

}

.categoryName {
  position: absolute;
  top: .7em;
  left: .7em;
  background: #fff;
  padding: .5em;
  border-radius: 4px;
  font-size: .875em;

  &__title {
    position: relative;
    color: #424551;
    display: flex;
    align-items: center;
  }

  &__title:before,
  &__podcast:before,
  &__video:before {
    content: "";
    width: 15px;
    height: 15px;
    margin-right: .5em;
    background: url("../../../../../assets/images/articles/file.svg") no-repeat center;
  }

  &__podcast:before {
    background: url("../../../../../assets/images/blog/category/micro.svg") no-repeat center;
  }

  &__video:before {
    background: url("../../../../../assets/images/blog/category/video.svg") no-repeat center;
  }
}

